# Titanic Survival
We will load a Dataset of Titanic passenger list and define if they survive or not.

### Dependencies

In [4]:
import warnings
warnings.filterwarnings('ignore')
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import LabelEncoder
import pandas as pd
import xgboost as xgb
from sklearn.model_selection import RandomizedSearchCV
from sklearn.metrics import accuracy_score
import lightgbm as lgb
import optuna
from optuna.integration import LightGBMTunerCV
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import RandomizedSearchCV
from sklearn.preprocessing import MinMaxScaler
from catboost import CatBoostClassifier

### Importing Dataset

In [6]:
train_df = pd.read_csv('Data-Science/Binary Classification/Scikit-Learn/Titanic Survival/train.csv')
test_df = pd.read_csv('Data-Science/Binary Classification/Scikit-Learn/Titanic Survival/test.csv')

In [7]:
train_df['Cabin'].fillna('0', inplace=True)
test_df['Cabin'].fillna('0', inplace=True)

In [8]:
train_df['Age'].fillna(train_df['Age'].mean(), inplace=True)
test_df['Age'].fillna(test_df['Age'].mean(), inplace=True)

train_df['Embarked'].fillna('0', inplace=True)
test_df['Embarked'].fillna('0', inplace=True)

train_df['Fare'].fillna(train_df['Fare'].mean(), inplace=True)
test_df['Fare'].fillna(test_df['Fare'].mean(), inplace=True)

### Encoding string variables

In [9]:
label_encoder = LabelEncoder()
train_df['Sex_encoded'] = label_encoder.fit_transform(train_df['Sex'])
train_df['Embarked_encoded'] = label_encoder.fit_transform(train_df['Embarked'])
train_df['Cabin_encoded'] = label_encoder.fit_transform(train_df['Cabin'])
test_df['Sex_encoded'] = label_encoder.fit_transform(test_df['Sex'])
test_df['Embarked_encoded'] = label_encoder.fit_transform(test_df['Embarked'])
test_df['Cabin_encoded'] = label_encoder.fit_transform(test_df['Cabin'])

### Drop variables and divide dataset in features and labels

In [10]:

labels_df=train_df['Survived']
features_df=train_df.loc[:, train_df.columns.isin(['Sex_encoded', 'Pclass', 'Age', 'SibSp', 'Parch'])]
test_features_df=test_df.loc[:, test_df.columns.isin(['Sex_encoded', 'Pclass', 'Age', 'SibSp', 'Parch'])]

scaler = MinMaxScaler()
features_df = pd.DataFrame(scaler.fit_transform(features_df), columns=features_df.columns)
test_features_df = pd.DataFrame(scaler.fit_transform(test_features_df), columns=test_features_df.columns)

In [11]:
# Find NaN values in train_df
nan_counts = train_df.isnull().sum()
print(nan_counts)

PassengerId         0
Survived            0
Pclass              0
Name                0
Sex                 0
Age                 0
SibSp               0
Parch               0
Ticket              0
Fare                0
Cabin               0
Embarked            0
Sex_encoded         0
Embarked_encoded    0
Cabin_encoded       0
dtype: int64

In [12]:
nan_counts = test_features_df.isnull().sum()
print(nan_counts)

Pclass         0
Age            0
SibSp          0
Parch          0
Sex_encoded    0
dtype: int64

### Creating the model

In [29]:
# Define the parameter grid for XGBoost
param_grid = {
    'n_estimators': [100, 200, 300],
    'learning_rate': [0.01, 0.1, 0.2],
    'max_depth': [3, 5, 7, 10],
    'subsample': [0.6, 0.8, 1.0],
    'colsample_bytree': [0.6, 0.8, 1.0]
}

# Initialize the XGBoost classifier
xgb_clf = xgb.XGBClassifier(objective='binary:logistic', random_state=42)

# Initialize RandomizedSearchCV
random_search = RandomizedSearchCV(estimator=xgb_clf, param_distributions=param_grid, n_iter=50, scoring='accuracy', cv=3, verbose=1, random_state=42, n_jobs=-1)

# Fit RandomizedSearchCV
random_search.fit(features_df, labels_df)

# Get the best estimator
best_xgb_clf = random_search.best_estimator_

# Make predictions on the test dataset
xgb_predictions = best_xgb_clf.predict(test_features_df)




# Add the predictions to the test dataframe
test_df['xgb_survived'] = xgb_predictions

# Display the first few rows of the test dataframe to verify the predictions
test_df.head()

Fitting 3 folds for each of 50 candidates, totalling 150 fits

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_encoded,Embarked_encoded,Cabin_encoded,xgb_survived
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,0,Q,1,1,0,0
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,0,S,0,2,0,0
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,0,Q,1,1,0,0
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,0,S,1,2,0,0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,0,S,0,2,0,0

#### Fitting the model

In [30]:
# Get feature importances
feature_importances = best_xgb_clf.feature_importances_

# Create a DataFrame for visualization
feature_importances_df = pd.DataFrame({
    'Feature': features_df.columns,
    'Importance': feature_importances
}).sort_values(by='Importance', ascending=False)

# Display the feature importances
print(feature_importances_df)

       Feature  Importance
4  Sex_encoded    0.782069
0       Pclass    0.119407
2        SibSp    0.040237
1          Age    0.031631
3        Parch    0.026655

In [31]:
# Define the dataset for LightGBM
train_data = lgb.Dataset(features_df, labels_df)

# Define the parameter search space
param_grid = {
    'objective': 'binary',
    'metric': 'binary_logloss',
    'boosting_type': 'gbdt',
    'verbosity': -1,
    'n_jobs': -1,
    'seed': 42
}

# Define the tuning function
def objective(trial):
    params = {
        'num_leaves': trial.suggest_int('num_leaves', 20, 150),
        'max_depth': trial.suggest_int('max_depth', 3, 15),
        'learning_rate': trial.suggest_loguniform('learning_rate', 1e-3, 1e-1),
        'n_estimators': trial.suggest_int('n_estimators', 100, 1000),
        'subsample': trial.suggest_uniform('subsample', 0.6, 1.0),
        'colsample_bytree': trial.suggest_uniform('colsample_bytree', 0.6, 1.0),
        'min_child_weight': trial.suggest_int('min_child_weight', 1, 10),
        'verbosity': -1
    }
    
    cv_results = lgb.cv(
        params,
        train_data,
        nfold=3,
        stratified=True,
        shuffle=True,
        metrics='binary_logloss',
        seed=42,
        eval_train_metric=True,
    )
    return min(cv_results['train binary_logloss-mean'])

# Create the study and optimize
study = optuna.create_study(direction='minimize')
study.optimize(objective, n_trials=50)

# Get the best parameters
best_params = study.best_params
best_params.update(param_grid)

# Train the final model with the best parameters
lgb_clf = lgb.LGBMClassifier(**best_params)
lgb_clf.fit(features_df, labels_df)

# Make predictions on the test dataset
lgb_predictions = lgb_clf.predict(test_features_df)

# Add the predictions to the test dataframe
test_df['lgb_survived'] = lgb_predictions

# Display the first few rows of the test dataframe to verify the predictions
test_df.head()

[I 2024-10-18 02:13:16,982] A new study created in memory with name: no-name-0246ca7b-cc0d-4e63-8a33-d4612f148b2b
[I 2024-10-18 02:13:17,192] Trial 0 finished with value: 0.5776215044672071 and parameters: {'num_leaves': 31, 'max_depth': 4, 'learning_rate': 0.0017269497317709168, 'n_estimators': 147, 'subsample': 0.623845062913346, 'colsample_bytree': 0.9928278256087459, 'min_child_weight': 9}. Best is trial 0 with value: 0.5776215044672071.
[I 2024-10-18 02:13:20,234] Trial 1 finished with value: 0.4090882922182388 and parameters: {'num_leaves': 123, 'max_depth': 8, 'learning_rate': 0.003309398116817937, 'n_estimators': 492, 'subsample': 0.9070848376721469, 'colsample_bytree': 0.9824295834511557, 'min_child_weight': 5}. Best is trial 1 with value: 0.4090882922182388.
[I 2024-10-18 02:13:21,101] Trial 2 finished with value: 0.42936094682300086 and parameters: {'num_leaves': 54, 'max_depth': 6, 'learning_rate': 0.006077596848299224, 'n_estimators': 237, 'subsample': 0.9252414020554899, 'colsample_bytree': 0.8288483490144412, 'min_child_weight': 2}. Best is trial 1 with value: 0.4090882922182388.
[I 2024-10-18 02:13:22,744] Trial 3 finished with value: 0.5411646212573347 and parameters: {'num_leaves': 100, 'max_depth': 5, 'learning_rate': 0.0019057942919631123, 'n_estimators': 303, 'subsample': 0.8455964124552159, 'colsample_bytree': 0.6958897276156553, 'min_child_weight': 7}. Best is trial 1 with value: 0.4090882922182388.
[I 2024-10-18 02:13:27,081] Trial 4 finished with value: 0.4677984065917324 and parameters: {'num_leaves': 32, 'max_depth': 5, 'learning_rate': 0.001419809732528191, 'n_estimators': 711, 'subsample': 0.8736906269439206, 'colsample_bytree': 0.7384315508957598, 'min_child_weight': 10}. Best is trial 1 with value: 0.4090882922182388.
[I 2024-10-18 02:13:27,467] Trial 5 finished with value: 0.3544430357727393 and parameters: {'num_leaves': 137, 'max_depth': 13, 'learning_rate': 0.0342547527665426, 'n_estimators': 201, 'subsample': 0.9093795792848919, 'colsample_bytree': 0.603184404337501, 'min_child_weight': 4}. Best is trial 5 with value: 0.3544430357727393.
[I 2024-10-18 02:13:32,694] Trial 6 finished with value: 0.37221911081266995 and parameters: {'num_leaves': 118, 'max_depth': 5, 'learning_rate': 0.0041954467033997, 'n_estimators': 911, 'subsample': 0.8725436730119088, 'colsample_bytree': 0.8491961887454699, 'min_child_weight': 5}. Best is trial 5 with value: 0.3544430357727393.
[I 2024-10-18 02:13:33,566] Trial 7 finished with value: 0.49911618313174727 and parameters: {'num_leaves': 66, 'max_depth': 4, 'learning_rate': 0.0013893737015719424, 'n_estimators': 473, 'subsample': 0.617303892282297, 'colsample_bytree': 0.9009693303911078, 'min_child_weight': 6}. Best is trial 5 with value: 0.3544430357727393.
[I 2024-10-18 02:13:35,102] Trial 8 finished with value: 0.24907882151362026 and parameters: {'num_leaves': 48, 'max_depth': 14, 'learning_rate': 0.09393230084073322, 'n_estimators': 698, 'subsample': 0.9861011694430519, 'colsample_bytree': 0.6706732592172152, 'min_child_weight': 10}. Best is trial 8 with value: 0.24907882151362026.
[I 2024-10-18 02:13:36,788] Trial 9 finished with value: 0.4752993991634234 and parameters: {'num_leaves': 99, 'max_depth': 15, 'learning_rate': 0.001903102699478274, 'n_estimators': 591, 'subsample': 0.862165808614682, 'colsample_bytree': 0.6823085072853571, 'min_child_weight': 7}. Best is trial 8 with value: 0.24907882151362026.
[I 2024-10-18 02:13:38,992] Trial 10 finished with value: 0.2362764615783829 and parameters: {'num_leaves': 66, 'max_depth': 12, 'learning_rate': 0.0981228712070061, 'n_estimators': 926, 'subsample': 0.9826508072136476, 'colsample_bytree': 0.6192457863671563, 'min_child_weight': 1}. Best is trial 10 with value: 0.2362764615783829.
[I 2024-10-18 02:13:42,247] Trial 11 finished with value: 0.2371421017558887 and parameters: {'num_leaves': 66, 'max_depth': 12, 'learning_rate': 0.09141364889888648, 'n_estimators': 982, 'subsample': 0.9938584590274835, 'colsample_bytree': 0.6002519021251614, 'min_child_weight': 1}. Best is trial 10 with value: 0.2362764615783829.
[I 2024-10-18 02:13:44,936] Trial 12 finished with value: 0.2358158902670644 and parameters: {'num_leaves': 76, 'max_depth': 11, 'learning_rate': 0.09986979672779048, 'n_estimators': 956, 'subsample': 0.996303682710183, 'colsample_bytree': 0.6071804944129395, 'min_child_weight': 1}. Best is trial 12 with value: 0.2358158902670644.
[I 2024-10-18 02:13:47,142] Trial 13 finished with value: 0.27810947577193407 and parameters: {'num_leaves': 82, 'max_depth': 11, 'learning_rate': 0.026142485904896175, 'n_estimators': 856, 'subsample': 0.7737990674005444, 'colsample_bytree': 0.7599240971618737, 'min_child_weight': 3}. Best is trial 12 with value: 0.2358158902670644.
[I 2024-10-18 02:13:49,425] Trial 14 finished with value: 0.2787605613180853 and parameters: {'num_leaves': 84, 'max_depth': 10, 'learning_rate': 0.039691991592720445, 'n_estimators': 813, 'subsample': 0.7563176640430067, 'colsample_bytree': 0.6454396271424112, 'min_child_weight': 1}. Best is trial 12 with value: 0.2358158902670644.
[I 2024-10-18 02:13:51,410] Trial 15 finished with value: 0.32748556520362465 and parameters: {'num_leaves': 63, 'max_depth': 8, 'learning_rate': 0.016020814132256766, 'n_estimators': 753, 'subsample': 0.9578604076195103, 'colsample_bytree': 0.7464432983222935, 'min_child_weight': 3}. Best is trial 12 with value: 0.2358158902670644.
[I 2024-10-18 02:13:54,233] Trial 16 finished with value: 0.25191597929250187 and parameters: {'num_leaves': 98, 'max_depth': 10, 'learning_rate': 0.06484724373284073, 'n_estimators': 994, 'subsample': 0.7190668635283431, 'colsample_bytree': 0.6407397494765713, 'min_child_weight': 2}. Best is trial 12 with value: 0.2358158902670644.
[I 2024-10-18 02:13:55,727] Trial 17 finished with value: 0.3380579457566359 and parameters: {'num_leaves': 45, 'max_depth': 12, 'learning_rate': 0.012692615169637286, 'n_estimators': 610, 'subsample': 0.9499668314268453, 'colsample_bytree': 0.7106278313128229, 'min_child_weight': 1}. Best is trial 12 with value: 0.2358158902670644.
[I 2024-10-18 02:13:57,897] Trial 18 finished with value: 0.26705735762594107 and parameters: {'num_leaves': 78, 'max_depth': 9, 'learning_rate': 0.05226878405139838, 'n_estimators': 893, 'subsample': 0.8193386109018319, 'colsample_bytree': 0.6279553484940967, 'min_child_weight': 3}. Best is trial 12 with value: 0.2358158902670644.
[I 2024-10-18 02:14:00,981] Trial 19 finished with value: 0.33101968512067703 and parameters: {'num_leaves': 113, 'max_depth': 15, 'learning_rate': 0.02134554781504724, 'n_estimators': 432, 'subsample': 0.6953192118034197, 'colsample_bytree': 0.7715890125751794, 'min_child_weight': 2}. Best is trial 12 with value: 0.2358158902670644.
[I 2024-10-18 02:14:03,376] Trial 20 finished with value: 0.3531015521379746 and parameters: {'num_leaves': 24, 'max_depth': 13, 'learning_rate': 0.008741797726860259, 'n_estimators': 804, 'subsample': 0.9898215633488356, 'colsample_bytree': 0.9013329385091544, 'min_child_weight': 4}. Best is trial 12 with value: 0.2358158902670644.
[I 2024-10-18 02:14:08,586] Trial 21 finished with value: 0.23564592689288366 and parameters: {'num_leaves': 69, 'max_depth': 12, 'learning_rate': 0.09223318246766946, 'n_estimators': 991, 'subsample': 0.9938493686871572, 'colsample_bytree': 0.602677355455781, 'min_child_weight': 1}. Best is trial 21 with value: 0.23564592689288366.
[I 2024-10-18 02:14:10,811] Trial 22 finished with value: 0.2545144140779298 and parameters: {'num_leaves': 73, 'max_depth': 11, 'learning_rate': 0.06312091798735334, 'n_estimators': 922, 'subsample': 0.9558734453921157, 'colsample_bytree': 0.652728719814122, 'min_child_weight': 1}. Best is trial 21 with value: 0.23564592689288366.
[I 2024-10-18 02:14:14,014] Trial 23 finished with value: 0.23496867374931762 and parameters: {'num_leaves': 92, 'max_depth': 13, 'learning_rate': 0.09483189843565419, 'n_estimators': 999, 'subsample': 0.935571331087194, 'colsample_bytree': 0.6044434777338638, 'min_child_weight': 2}. Best is trial 23 with value: 0.23496867374931762.
[I 2024-10-18 02:14:17,154] Trial 24 finished with value: 0.2638854825823786 and parameters: {'num_leaves': 97, 'max_depth': 13, 'learning_rate': 0.0453528968037046, 'n_estimators': 978, 'subsample': 0.9334844459573556, 'colsample_bytree': 0.6754422984221202, 'min_child_weight': 2}. Best is trial 23 with value: 0.23496867374931762.
[I 2024-10-18 02:14:23,144] Trial 25 finished with value: 0.23766151628642596 and parameters: {'num_leaves': 93, 'max_depth': 14, 'learning_rate': 0.06692059723915056, 'n_estimators': 814, 'subsample': 0.898900762373196, 'colsample_bytree': 0.719965533459755, 'min_child_weight': 3}. Best is trial 23 with value: 0.23496867374931762.
[I 2024-10-18 02:14:29,783] Trial 26 finished with value: 0.28517382659776974 and parameters: {'num_leaves': 108, 'max_depth': 11, 'learning_rate': 0.026861762275097727, 'n_estimators': 994, 'subsample': 0.9996985130820768, 'colsample_bytree': 0.6342713074846273, 'min_child_weight': 4}. Best is trial 23 with value: 0.23496867374931762.
[I 2024-10-18 02:14:32,295] Trial 27 finished with value: 0.26574009570696916 and parameters: {'num_leaves': 144, 'max_depth': 9, 'learning_rate': 0.07281781003162242, 'n_estimators': 674, 'subsample': 0.9562638736137401, 'colsample_bytree': 0.6603748837997028, 'min_child_weight': 2}. Best is trial 23 with value: 0.23496867374931762.
[I 2024-10-18 02:14:35,488] Trial 28 finished with value: 0.2623567657872521 and parameters: {'num_leaves': 89, 'max_depth': 14, 'learning_rate': 0.0360120120852705, 'n_estimators': 857, 'subsample': 0.8314159866376413, 'colsample_bytree': 0.7900346682314345, 'min_child_weight': 1}. Best is trial 23 with value: 0.23496867374931762.
[I 2024-10-18 02:14:37,817] Trial 29 finished with value: 0.2636359711917013 and parameters: {'num_leaves': 40, 'max_depth': 10, 'learning_rate': 0.05144232195959869, 'n_estimators': 931, 'subsample': 0.6633155821643207, 'colsample_bytree': 0.6023648899948872, 'min_child_weight': 2}. Best is trial 23 with value: 0.23496867374931762.
[I 2024-10-18 02:14:39,531] Trial 30 finished with value: 0.24275264070243055 and parameters: {'num_leaves': 75, 'max_depth': 7, 'learning_rate': 0.09886763273826377, 'n_estimators': 764, 'subsample': 0.9643756921944783, 'colsample_bytree': 0.7092247602050797, 'min_child_weight': 7}. Best is trial 23 with value: 0.23496867374931762.
[I 2024-10-18 02:14:41,871] Trial 31 finished with value: 0.2359704320996172 and parameters: {'num_leaves': 56, 'max_depth': 12, 'learning_rate': 0.09913023837723385, 'n_estimators': 932, 'subsample': 0.974930848576041, 'colsample_bytree': 0.6243556917256897, 'min_child_weight': 1}. Best is trial 23 with value: 0.23496867374931762.
[I 2024-10-18 02:14:44,172] Trial 32 finished with value: 0.2590356543869989 and parameters: {'num_leaves': 56, 'max_depth': 12, 'learning_rate': 0.058957210372081466, 'n_estimators': 863, 'subsample': 0.9307670051427162, 'colsample_bytree': 0.6205240771036159, 'min_child_weight': 1}. Best is trial 23 with value: 0.23496867374931762.
[I 2024-10-18 02:14:46,441] Trial 33 finished with value: 0.2465554106124138 and parameters: {'num_leaves': 56, 'max_depth': 11, 'learning_rate': 0.0773603708648713, 'n_estimators': 926, 'subsample': 0.8979287034997645, 'colsample_bytree': 0.6546158465650531, 'min_child_weight': 2}. Best is trial 23 with value: 0.23496867374931762.
[I 2024-10-18 02:14:47,246] Trial 34 finished with value: 0.2857041051432432 and parameters: {'num_leaves': 72, 'max_depth': 13, 'learning_rate': 0.07490896548423458, 'n_estimators': 343, 'subsample': 0.9719190776559032, 'colsample_bytree': 0.6183500696365801, 'min_child_weight': 3}. Best is trial 23 with value: 0.23496867374931762.
[I 2024-10-18 02:14:49,510] Trial 35 finished with value: 0.26834481899014817 and parameters: {'num_leaves': 87, 'max_depth': 10, 'learning_rate': 0.04420478364204993, 'n_estimators': 958, 'subsample': 0.9273750733065226, 'colsample_bytree': 0.6890184163372758, 'min_child_weight': 8}. Best is trial 23 with value: 0.23496867374931762.
[I 2024-10-18 02:14:54,132] Trial 36 finished with value: 0.26468844634202265 and parameters: {'num_leaves': 33, 'max_depth': 12, 'learning_rate': 0.02799510067575384, 'n_estimators': 883, 'subsample': 0.9078978679854129, 'colsample_bytree': 0.9466596880955566, 'min_child_weight': 2}. Best is trial 23 with value: 0.23496867374931762.
[I 2024-10-18 02:14:57,840] Trial 37 finished with value: 0.35757643655296406 and parameters: {'num_leaves': 130, 'max_depth': 14, 'learning_rate': 0.005691283715560694, 'n_estimators': 756, 'subsample': 0.9422748807134393, 'colsample_bytree': 0.832318192186178, 'min_child_weight': 1}. Best is trial 23 with value: 0.23496867374931762.
[I 2024-10-18 02:15:00,430] Trial 38 finished with value: 0.30526160906384353 and parameters: {'num_leaves': 57, 'max_depth': 13, 'learning_rate': 0.019164880323058044, 'n_estimators': 832, 'subsample': 0.9731898181643068, 'colsample_bytree': 0.6010848142914009, 'min_child_weight': 4}. Best is trial 23 with value: 0.23496867374931762.
[I 2024-10-18 02:15:00,867] Trial 39 finished with value: 0.33681451599650275 and parameters: {'num_leaves': 47, 'max_depth': 11, 'learning_rate': 0.08216805272134532, 'n_estimators': 136, 'subsample': 0.8879725644878024, 'colsample_bytree': 0.6339767741297506, 'min_child_weight': 1}. Best is trial 23 with value: 0.23496867374931762.
[I 2024-10-18 02:15:02,078] Trial 40 finished with value: 0.35168447006893344 and parameters: {'num_leaves': 106, 'max_depth': 3, 'learning_rate': 0.055872117456153225, 'n_estimators': 949, 'subsample': 0.9183729676781456, 'colsample_bytree': 0.6670587012862683, 'min_child_weight': 5}. Best is trial 23 with value: 0.23496867374931762.
[I 2024-10-18 02:15:04,764] Trial 41 finished with value: 0.2400626809563063 and parameters: {'num_leaves': 64, 'max_depth': 12, 'learning_rate': 0.09311384195308363, 'n_estimators': 898, 'subsample': 0.9984648902916675, 'colsample_bytree': 0.6205435713302385, 'min_child_weight': 1}. Best is trial 23 with value: 0.23496867374931762.
[I 2024-10-18 02:15:07,132] Trial 42 finished with value: 0.48825090811945 and parameters: {'num_leaves': 80, 'max_depth': 13, 'learning_rate': 0.00105260083289967, 'n_estimators': 944, 'subsample': 0.9789477704382057, 'colsample_bytree': 0.6187633900438805, 'min_child_weight': 1}. Best is trial 23 with value: 0.23496867374931762.
[I 2024-10-18 02:15:09,946] Trial 43 finished with value: 0.23364389776392258 and parameters: {'num_leaves': 69, 'max_depth': 12, 'learning_rate': 0.09907275409643403, 'n_estimators': 988, 'subsample': 0.9763276293889558, 'colsample_bytree': 0.6472748222117203, 'min_child_weight': 2}. Best is trial 43 with value: 0.23364389776392258.
[I 2024-10-18 02:15:12,457] Trial 44 finished with value: 0.24349865130723503 and parameters: {'num_leaves': 70, 'max_depth': 15, 'learning_rate': 0.07617339294557836, 'n_estimators': 993, 'subsample': 0.9426378569113463, 'colsample_bytree': 0.6940071315195517, 'min_child_weight': 2}. Best is trial 43 with value: 0.23364389776392258.
[I 2024-10-18 02:15:15,607] Trial 45 finished with value: 0.23785486832057023 and parameters: {'num_leaves': 61, 'max_depth': 12, 'learning_rate': 0.09841213433507426, 'n_estimators': 890, 'subsample': 0.9724620406473745, 'colsample_bytree': 0.6450743274757939, 'min_child_weight': 3}. Best is trial 43 with value: 0.23364389776392258.
[I 2024-10-18 02:15:18,797] Trial 46 finished with value: 0.4056770928030604 and parameters: {'num_leaves': 86, 'max_depth': 11, 'learning_rate': 0.0023911293950911704, 'n_estimators': 960, 'subsample': 0.8742884268401638, 'colsample_bytree': 0.6007838254565987, 'min_child_weight': 2}. Best is trial 43 with value: 0.23364389776392258.
[I 2024-10-18 02:15:19,471] Trial 47 finished with value: 0.33305425817719014 and parameters: {'num_leaves': 52, 'max_depth': 14, 'learning_rate': 0.03344598178161088, 'n_estimators': 229, 'subsample': 0.9873677651193499, 'colsample_bytree': 0.6735280459738296, 'min_child_weight': 6}. Best is trial 43 with value: 0.23364389776392258.
[I 2024-10-18 02:15:20,754] Trial 48 finished with value: 0.29780790922092 and parameters: {'num_leaves': 41, 'max_depth': 8, 'learning_rate': 0.04683288882080579, 'n_estimators': 513, 'subsample': 0.962676233550129, 'colsample_bytree': 0.6385099542705677, 'min_child_weight': 3}. Best is trial 43 with value: 0.23364389776392258.
[I 2024-10-18 02:15:23,172] Trial 49 finished with value: 0.24452950612877947 and parameters: {'num_leaves': 92, 'max_depth': 10, 'learning_rate': 0.06367501648128472, 'n_estimators': 779, 'subsample': 0.8494340253841214, 'colsample_bytree': 0.8828102614779525, 'min_child_weight': 2}. Best is trial 43 with value: 0.23364389776392258.

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_encoded,Embarked_encoded,Cabin_encoded,xgb_survived,lgb_survived
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,0,Q,1,1,0,0,0
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,0,S,0,2,0,0,0
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,0,Q,1,1,0,0,0
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,0,S,1,2,0,0,0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,0,S,0,2,0,0,1

#### Making predictions with the model

In [32]:
# Define the parameter grid for Logistic Regression
param_grid = {
    'C': [0.01, 0.1, 1, 10, 100],
    'penalty': ['l1', 'l2', 'elasticnet', 'none'],
    'solver': ['newton-cg', 'lbfgs', 'liblinear', 'sag', 'saga'],
    'max_iter': [100, 200, 300, 500, 1000]
}

# Initialize the Logistic Regression classifier
log_reg = LogisticRegression(random_state=42)

# Initialize RandomizedSearchCV
random_search_log_reg = RandomizedSearchCV(estimator=log_reg, param_distributions=param_grid, n_iter=50, scoring='accuracy', cv=3, verbose=1, random_state=42, n_jobs=-1)

# Fit RandomizedSearchCV
random_search_log_reg.fit(features_df, labels_df)

# Get the best estimator
best_log_reg = random_search_log_reg.best_estimator_

# Make predictions on the test dataset
log_reg_predictions = best_log_reg.predict(test_features_df)

# Add the predictions to the test dataframe
test_df['log_reg_survived'] = log_reg_predictions

# Display the first few rows of the test dataframe to verify the predictions
test_df.head()

Fitting 3 folds for each of 50 candidates, totalling 150 fits

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_encoded,Embarked_encoded,Cabin_encoded,xgb_survived,lgb_survived,log_reg_survived
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,0,Q,1,1,0,0,0,0
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,0,S,0,2,0,0,0,0
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,0,Q,1,1,0,0,0,0
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,0,S,1,2,0,0,0,0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,0,S,0,2,0,0,1,1

In [33]:
# Define the parameter grid for Decision Tree
param_grid = {
    'criterion': ['gini', 'entropy'],
    'splitter': ['best', 'random'],
    'max_depth': [None, 10, 20, 30, 40, 50],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4],
    'max_features': [None, 'auto', 'sqrt', 'log2']
}

# Initialize the Decision Tree classifier
dt_clf = DecisionTreeClassifier(random_state=42)

# Initialize RandomizedSearchCV
random_search_dt = RandomizedSearchCV(estimator=dt_clf, param_distributions=param_grid, n_iter=50, scoring='accuracy', cv=3, verbose=1, random_state=42, n_jobs=-1)

# Fit RandomizedSearchCV
random_search_dt.fit(features_df, labels_df)

# Get the best estimator
best_dt_clf = random_search_dt.best_estimator_

# Make predictions on the test dataset
dt_predictions = best_dt_clf.predict(test_features_df)

# Add the predictions to the test dataframe
test_df['dt_survived'] = dt_predictions

# Display the first few rows of the test dataframe to verify the predictions
test_df.head()

Fitting 3 folds for each of 50 candidates, totalling 150 fits

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_encoded,Embarked_encoded,Cabin_encoded,xgb_survived,lgb_survived,log_reg_survived,dt_survived
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,0,Q,1,1,0,0,0,0,0
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,0,S,0,2,0,0,0,0,1
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,0,Q,1,1,0,0,0,0,0
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,0,S,1,2,0,0,0,0,0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,0,S,0,2,0,0,1,1,0

In [34]:
test_df[['PassengerId', 'xgb_survived']].to_csv('Binary Classification/Scikit-Learn/Titanic Survival/XGB_predictions.csv', index=False)
test_df[['PassengerId', 'lgb_survived']].to_csv('Binary Classification/Scikit-Learn/Titanic Survival//LGB_predictions.csv', index=False)
test_df[['PassengerId', 'log_reg_survived']].to_csv('Binary Classification/Scikit-Learn/Titanic Survival/LogReg_predictions.csv', index=False)
test_df[['PassengerId', 'dt_survived']].to_csv('Binary Classification/Scikit-Learn/Titanic Survival/DT_predictions.csv', index=False)

In [35]:
# Create a pool of all predicted loan statuses
test_df['pooled_survived'] = test_df[['xgb_survived', 'lgb_survived', 'log_reg_survived', 'dt_survived']].mode(axis=1)[0]
test_df['pooled_survived'] = test_df['pooled_survived'].astype(int)
# Display the first few rows of the test dataframe to verify the pooled predictions
test_df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_encoded,Embarked_encoded,Cabin_encoded,xgb_survived,lgb_survived,log_reg_survived,dt_survived,pooled_survived
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,0,Q,1,1,0,0,0,0,0,0
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,0,S,0,2,0,0,0,0,1,0
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,0,Q,1,1,0,0,0,0,0,0
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,0,S,1,2,0,0,0,0,0,0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,0,S,0,2,0,0,1,1,0,0

In [36]:
test_df[['PassengerId', 'pooled_survived']].to_csv('Binary Classification/Scikit-Learn/Titanic Survival/Pooled_Predictions.csv', index=False)

In [37]:
# Create a new column 'any_predicted_loan_status' where the value is 1 if any of the predictions is 1
test_df['any_survived'] = test_df[['xgb_survived', 'lgb_survived', 'log_reg_survived', 'dt_survived']].max(axis=1)
# Display the first few rows of the test dataframe to verify the new column
test_df.head()
test_df[['PassengerId', 'any_survived']].to_csv('Binary Classification/Scikit-Learn/Titanic Survival/Max_Predictions.csv', index=False)

In [38]:
# Install TensorFlow Decision Forests
!pip install tensorflow_decision_forests

Collecting tensorflow_decision_forests
  Downloading tensorflow_decision_forests-1.10.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (6.0 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from tensorflow_decision_forests) (1.26.4)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from tensorflow_decision_forests) (2.2.3)
Requirement already satisfied: tensorflow==2.17.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow_decision_forests) (2.17.0)
Requirement already satisfied: six in /usr/lib/python3/dist-packages (from tensorflow_decision_forests) (1.16.0)
Requirement already satisfied: absl-py in /usr/local/lib/python3.10/dist-packages (from tensorflow_decision_forests) (2.1.0)
Requirement already satisfied: wheel in /usr/lib/python3/dist-packages (from tensorflow_decision_forests) (0.37.1)
Collecting wurlitzer (from tensorflow_decision_forests)
  Downloading wurlitzer-3.1.1-py3-none-any.whl.metadata (2.5 kB)
Collecting tf-keras~=2.17 (from tensorflow_decision_forests)
  Downloading tf_keras-2.17.0-py3-none-any.whl.metadata (1.6 kB)
Collecting ydf (from tensorflow_decision_forests)
  Downloading ydf-0.8.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (3.2 kB)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.17.0->tensorflow_decision_forests) (1.6.3)
Requirement already satisfied: flatbuffers>=24.3.25 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.17.0->tensorflow_decision_forests) (24.3.25)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.17.0->tensorflow_decision_forests) (0.6.0)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.17.0->tensorflow_decision_forests) (0.2.0)
Requirement already satisfied: h5py>=3.10.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.17.0->tensorflow_decision_forests) (3.12.1)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.17.0->tensorflow_decision_forests) (18.1.1)
Requirement already satisfied: ml-dtypes<0.5.0,>=0.3.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.17.0->tensorflow_decision_forests) (0.4.1)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.17.0->tensorflow_decision_forests) (3.4.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.17.0->tensorflow_decision_forests) (24.1)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.17.0->tensorflow_decision_forests) (4.25.5)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.17.0->tensorflow_decision_forests) (2.32.3)
Requirement already satisfied: setuptools in /usr/lib/python3/dist-packages (from tensorflow==2.17.0->tensorflow_decision_forests) (59.6.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.17.0->tensorflow_decision_forests) (2.5.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.17.0->tensorflow_decision_forests) (4.12.2)
Requirement already satisfied: wrapt>=1.11.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.17.0->tensorflow_decision_forests) (1.16.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.17.0->tensorflow_decision_forests) (1.66.2)
Requirement already satisfied: tensorboard<2.18,>=2.17 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.17.0->tensorflow_decision_forests) (2.17.1)
Requirement already satisfied: keras>=3.2.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.17.0->tensorflow_decision_forests) (3.6.0)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.17.0->tensorflow_decision_forests) (0.37.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas->tensorflow_decision_forests) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas->tensorflow_decision_forests) (2022.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas->tensorflow_decision_forests) (2024.2)
Requirement already satisfied: rich in /usr/local/lib/python3.10/dist-packages (from keras>=3.2.0->tensorflow==2.17.0->tensorflow_decision_forests) (13.9.2)
Requirement already satisfied: namex in /usr/local/lib/python3.10/dist-packages (from keras>=3.2.0->tensorflow==2.17.0->tensorflow_decision_forests) (0.0.8)
Requirement already satisfied: optree in /usr/local/lib/python3.10/dist-packages (from keras>=3.2.0->tensorflow==2.17.0->tensorflow_decision_forests) (0.13.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorflow==2.17.0->tensorflow_decision_forests) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/lib/python3/dist-packages (from requests<3,>=2.21.0->tensorflow==2.17.0->tensorflow_decision_forests) (3.3)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/lib/python3/dist-packages (from requests<3,>=2.21.0->tensorflow==2.17.0->tensorflow_decision_forests) (1.26.5)
Requirement already satisfied: certifi>=2017.4.17 in /usr/lib/python3/dist-packages (from requests<3,>=2.21.0->tensorflow==2.17.0->tensorflow_decision_forests) (2020.6.20)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.18,>=2.17->tensorflow==2.17.0->tensorflow_decision_forests) (3.7)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.18,>=2.17->tensorflow==2.17.0->tensorflow_decision_forests) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.18,>=2.17->tensorflow==2.17.0->tensorflow_decision_forests) (3.0.4)
Requirement already satisfied: MarkupSafe>=2.1.1 in /usr/local/lib/python3.10/dist-packages (from werkzeug>=1.0.1->tensorboard<2.18,>=2.17->tensorflow==2.17.0->tensorflow_decision_forests) (3.0.1)
Requirement already satisfied: markdown-it-py>=2.2.0 in /usr/local/lib/python3.10/dist-packages (from rich->keras>=3.2.0->tensorflow==2.17.0->tensorflow_decision_forests) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /usr/local/lib/python3.10/dist-packages (from rich->keras>=3.2.0->tensorflow==2.17.0->tensorflow_decision_forests) (2.18.0)
Requirement already satisfied: mdurl~=0.1 in /usr/local/lib/python3.10/dist-packages (from markdown-it-py>=2.2.0->rich->keras>=3.2.0->tensorflow==2.17.0->tensorflow_decision_forests) (0.1.2)
Downloading tensorflow_decision_forests-1.10.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (15.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.5/15.5 MB 2.6 MB/s eta 0:00:0000:0100:01
Downloading tf_keras-2.17.0-py3-none-any.whl (1.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 4.2 MB/s eta 0:00:00ta 0:00:01
Downloading wurlitzer-3.1.1-py3-none-any.whl (8.6 kB)
Downloading ydf-0.8.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (9.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.3/9.3 MB 2.1 MB/s eta 0:00:0000:0100:01m
Installing collected packages: ydf, wurlitzer, tf-keras, tensorflow_decision_forests
Successfully installed tensorflow_decision_forests-1.10.0 tf-keras-2.17.0 wurlitzer-3.1.1 ydf-0.8.0
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager, possibly rendering your system unusable.It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv. Use the --root-user-action option if you know what you are doing and want to suppress this warning.

In [42]:
import tensorflow_decision_forests as tfdf
import tensorflow as tf



# Convert the pandas DataFrame to a TensorFlow dataset
train_dataset = tfdf.keras.pd_dataframe_to_tf_dataset(train_df[['Pclass', 'Age', 'SibSp', 'Parch', 'Sex_encoded', 'Survived']], label="Survived")
test_dataset = tfdf.keras.pd_dataframe_to_tf_dataset(test_df[['Pclass', 'Age', 'SibSp', 'Parch', 'Sex_encoded']], label=None)

# Train a Random Forest model
model = tfdf.keras.RandomForestModel()
model.fit(train_dataset, verbose=0)

# Make predictions on the test dataset
tfdf_predictions = model.predict(test_dataset)

# Convert predictions to binary outcome
tfdf_predictions = (tfdf_predictions >= 0.5).astype(int)
# Add the predictions to the test dataframe
test_df['tfdf_survived'] = tfdf_predictions

# Display the first few rows of the test dataframe to verify the predictions
test_df.head()

Use /tmp/tmp_t64otzr as temporary training directory

I0000 00:00:1729228885.551084 1194904 kernel.cc:774] Start Yggdrasil model training
I0000 00:00:1729228885.551142 1194904 kernel.cc:775] Collect training examples
I0000 00:00:1729228885.551153 1194904 kernel.cc:787] Dataspec guide:
column_guides {
  column_name_pattern: "^__LABEL$"
  type: CATEGORICAL
  categorial {
    min_vocab_frequency: 0
    max_vocab_count: -1
  }
}
default_column_guide {
  categorial {
    max_vocab_count: 2000
  }
  discretized_numerical {
    maximum_num_bins: 255
  }
}
ignore_columns_without_guides: false
detect_numerical_as_discretized_numerical: false

I0000 00:00:1729228885.551216 1194904 kernel.cc:394] Number of batches: 1
I0000 00:00:1729228885.551220 1194904 kernel.cc:395] Number of examples: 891
I0000 00:00:1729228885.551256 1194904 kernel.cc:794] Training dataset:
Number of records: 891
Number of columns: 6

Number of columns by type:
	NUMERICAL: 5 (83.3333%)
	CATEGORICAL: 1 (16.6667%)

Columns:

NUMERICAL: 5 (83.3333%)
	0: "Age" NUMERICAL mean:29.6991 min:0.42 max:80 sd:12.9947
	1: "Parch" NUMERICAL mean:0.381594 min:0 max:6 sd:0.805605
	2: "Pclass" NUMERICAL mean:2.30864 min:1 max:3 sd:0.835602
	3: "Sex_encoded" NUMERICAL mean:0.647587 min:0 max:1 sd:0.477722
	4: "SibSp" NUMERICAL mean:0.523008 min:0 max:8 sd:1.10212

CATEGORICAL: 1 (16.6667%)
	5: "__LABEL" CATEGORICAL integerized vocab-size:3 no-ood-item

Terminology:
	nas: Number of non-available (i.e. missing) values.
	ood: Out of dictionary.
	manually-defined: Attribute whose type is manually defined by the user, i.e., the type was not automatically inferred.
	tokenized: The attribute value is obtained through tokenization.
	has-dict: The attribute is attached to a string dictionary e.g. a categorical attribute stored as a string.
	vocab-size: Number of unique values.

I0000 00:00:1729228885.551271 1194904 kernel.cc:810] Configure learner
I0000 00:00:1729228885.551386 1194904 kernel.cc:824] Training config:
learner: "RANDOM_FOREST"
features: "^Age$"
features: "^Parch$"
features: "^Pclass$"
features: "^Sex_encoded$"
features: "^SibSp$"
label: "^__LABEL$"
task: CLASSIFICATION
random_seed: 123456
metadata {
  framework: "TF Keras"
}
pure_serving_model: false
[yggdrasil_decision_forests.model.random_forest.proto.random_forest_config] {
  num_trees: 300
  decision_tree {
    max_depth: 16
    min_examples: 5
    in_split_min_examples_check: true
    keep_non_leaf_label_distribution: true
    num_candidate_attributes: 0
    missing_value_policy: GLOBAL_IMPUTATION
    allow_na_conditions: false
    categorical_set_greedy_forward {
      sampling: 0.1
      max_num_items: -1
      min_item_frequency: 1
    }
    growing_strategy_local {
    }
    categorical {
      cart {
      }
    }
    axis_aligned_split {
    }
    internal {
      sorting_strategy: PRESORTED
    }
    uplift {
      min_examples_in_treatment: 5
      split_score: KULLBACK_LEIBLER
    }
  }
  winner_take_all_inference: true
  compute_oob_performances: true
  compute_oob_variable_importances: false
  num_oob_variable_importances_permutations: 1
  bootstrap_training_dataset: true
  bootstrap_size_ratio: 1
  adapt_bootstrap_size_ratio_for_maximum_training_duration: false
  sampling_with_replacement: true
}

I0000 00:00:1729228885.551479 1194904 kernel.cc:827] Deployment config:
cache_path: "/tmp/tmp_t64otzr/working_cache"
num_threads: 20
try_resume_training: true

I0000 00:00:1729228885.551589 1195609 kernel.cc:888] Train model
I0000 00:00:1729228885.551648 1195609 random_forest.cc:428] Training random forest on 891 example(s) and 5 feature(s).
I0000 00:00:1729228885.554617 1195617 random_forest.cc:812] Training of tree  1/300 (tree index:2) done accuracy:0.790274 logloss:7.55931
I0000 00:00:1729228885.555699 1195621 random_forest.cc:812] Training of tree  13/300 (tree index:13) done accuracy:0.810069 logloss:4.30788
I0000 00:00:1729228885.556848 1195619 random_forest.cc:812] Training of tree  23/300 (tree index:29) done accuracy:0.823793 logloss:3.03606
I0000 00:00:1729228885.558947 1195623 random_forest.cc:812] Training of tree  33/300 (tree index:39) done accuracy:0.824916 logloss:2.84734
I0000 00:00:1729228885.561002 1195634 random_forest.cc:812] Training of tree  43/300 (tree index:49) done accuracy:0.828283 logloss:2.69771
I0000 00:00:1729228885.562403 1195632 random_forest.cc:812] Training of tree  53/300 (tree index:34) done accuracy:0.826038 logloss:2.54853
I0000 00:00:1729228885.564877 1195624 random_forest.cc:812] Training of tree  64/300 (tree index:35) done accuracy:0.829405 logloss:2.47471
I0000 00:00:1729228885.567436 1195624 random_forest.cc:812] Training of tree  74/300 (tree index:82) done accuracy:0.82716 logloss:2.36588
I0000 00:00:1729228885.569944 1195631 random_forest.cc:812] Training of tree  84/300 (tree index:67) done accuracy:0.82716 logloss:2.32788
I0000 00:00:1729228885.572875 1195617 random_forest.cc:812] Training of tree  94/300 (tree index:97) done accuracy:0.829405 logloss:2.18025
I0000 00:00:1729228885.575655 1195615 random_forest.cc:812] Training of tree  104/300 (tree index:108) done accuracy:0.830527 logloss:2.1445
I0000 00:00:1729228885.578878 1195619 random_forest.cc:812] Training of tree  114/300 (tree index:104) done accuracy:0.83165 logloss:2.10892
I0000 00:00:1729228885.581180 1195615 random_forest.cc:812] Training of tree  124/300 (tree index:123) done accuracy:0.830527 logloss:2.07283
I0000 00:00:1729228885.583843 1195623 random_forest.cc:812] Training of tree  134/300 (tree index:128) done accuracy:0.832772 logloss:2.07288
I0000 00:00:1729228885.586501 1195617 random_forest.cc:812] Training of tree  144/300 (tree index:137) done accuracy:0.829405 logloss:2.00246
I0000 00:00:1729228885.589305 1195627 random_forest.cc:812] Training of tree  154/300 (tree index:134) done accuracy:0.828283 logloss:2.00393
I0000 00:00:1729228885.591904 1195615 random_forest.cc:812] Training of tree  164/300 (tree index:154) done accuracy:0.829405 logloss:2.00596
I0000 00:00:1729228885.593966 1195622 random_forest.cc:812] Training of tree  174/300 (tree index:164) done accuracy:0.828283 logloss:2.00487
I0000 00:00:1729228885.597092 1195627 random_forest.cc:812] Training of tree  184/300 (tree index:187) done accuracy:0.829405 logloss:2.00601
I0000 00:00:1729228885.599204 1195630 random_forest.cc:812] Training of tree  194/300 (tree index:185) done accuracy:0.82716 logloss:1.93494
I0000 00:00:1729228885.601250 1195622 random_forest.cc:812] Training of tree  204/300 (tree index:206) done accuracy:0.824916 logloss:1.89767
I0000 00:00:1729228885.604200 1195620 random_forest.cc:812] Training of tree  214/300 (tree index:202) done accuracy:0.828283 logloss:1.86137
I0000 00:00:1729228885.606664 1195615 random_forest.cc:812] Training of tree  224/300 (tree index:226) done accuracy:0.829405 logloss:1.86082
I0000 00:00:1729228885.608460 1195623 random_forest.cc:812] Training of tree  234/300 (tree index:225) done accuracy:0.832772 logloss:1.85987
I0000 00:00:1729228885.611673 1195629 random_forest.cc:812] Training of tree  244/300 (tree index:247) done accuracy:0.832772 logloss:1.82482
I0000 00:00:1729228885.613770 1195625 random_forest.cc:812] Training of tree  254/300 (tree index:256) done accuracy:0.830527 logloss:1.75344
I0000 00:00:1729228885.617337 1195624 random_forest.cc:812] Training of tree  264/300 (tree index:260) done accuracy:0.830527 logloss:1.75383
I0000 00:00:1729228885.619632 1195624 random_forest.cc:812] Training of tree  274/300 (tree index:283) done accuracy:0.832772 logloss:1.7538
I0000 00:00:1729228885.621426 1195634 random_forest.cc:812] Training of tree  284/300 (tree index:291) done accuracy:0.833894 logloss:1.71808
I0000 00:00:1729228885.623927 1195620 random_forest.cc:812] Training of tree  294/300 (tree index:286) done accuracy:0.83165 logloss:1.64914
I0000 00:00:1729228885.625113 1195625 random_forest.cc:812] Training of tree  300/300 (tree index:298) done accuracy:0.83165 logloss:1.64907
I0000 00:00:1729228885.625299 1195609 random_forest.cc:892] Final OOB metrics: accuracy:0.83165 logloss:1.64907
I0000 00:00:1729228885.637268 1195609 kernel.cc:920] Export model in log directory: /tmp/tmp_t64otzr with prefix 4a723d25f63f49d8
I0000 00:00:1729228885.662365 1195609 kernel.cc:938] Save model in resources
I0000 00:00:1729228885.665846 1194904 abstract_model.cc:833] Model self evaluation:
Number of predictions (without weights): 891
Number of predictions (with weights): 891
Task: CLASSIFICATION
Label: __LABEL

Accuracy: 0.83165  CI95[W][0.809661 0.851995]
LogLoss: : 1.64907
ErrorRate: : 0.16835

Default Accuracy: : 0.616162
Default LogLoss: : 0.665912
Default ErrorRate: : 0.383838

Confusion Table:
truth\prediction
     1    2
1  497   52
2   98  244
Total: 891


2024-10-18 02:21:25.678871: I tensorflow_decision_forests/tensorflow/ops/inference/kernel.cc:1234] Loading model from path /tmp/tmp_t64otzr/model/ with prefix 4a723d25f63f49d8
I0000 00:00:1729228885.713219 1194904 decision_forest.cc:761] Model loaded with 300 root(s), 42076 node(s), and 5 input feature(s).
I0000 00:00:1729228885.713278 1194904 abstract_model.cc:1323] Engine "RandomForestOptPred" built
2024-10-18 02:21:25.713294: I tensorflow_decision_forests/tensorflow/ops/inference/kernel.cc:1062] Use fast generic engine

1/1 [==============================] - 0s 69ms/step

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,...,Sex_encoded,Embarked_encoded,Cabin_encoded,xgb_survived,lgb_survived,log_reg_survived,dt_survived,pooled_survived,any_survived,tfdf_survived
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,0,...,1,1,0,0,0,0,0,0,0,0
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,0,...,0,2,0,0,0,0,1,0,1,0
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,0,...,1,1,0,0,0,0,0,0,0,0
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,0,...,1,2,0,0,0,0,0,0,0,0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,0,...,0,2,0,0,1,1,0,0,1,0

In [43]:
test_df[['PassengerId', 'tfdf_survived']].to_csv('Binary Classification/Scikit-Learn/Titanic Survival/TFDFpredictions.csv', index=False)

In [44]:
# Install YDF
!pip install ydf -U

Requirement already satisfied: ydf in /usr/local/lib/python3.10/dist-packages (0.8.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from ydf) (1.26.4)
Requirement already satisfied: absl-py in /usr/local/lib/python3.10/dist-packages (from ydf) (2.1.0)
Requirement already satisfied: protobuf>=3.14 in /usr/local/lib/python3.10/dist-packages (from ydf) (4.25.5)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager, possibly rendering your system unusable.It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv. Use the --root-user-action option if you know what you are doing and want to suppress this warning.

In [51]:
import ydf

train_dataset = train_df[['Pclass', 'Age', 'SibSp', 'Parch', 'Sex_encoded', 'Survived']]
test_dataset = test_df[['Pclass', 'Age', 'SibSp', 'Parch', 'Sex_encoded']]


# Train a Gradient Boosted Trees model
model = ydf.GradientBoostedTreesLearner(label="Survived").train(train_dataset)

# Look at a model (input features, training logs, structure, etc.)
model.describe()

# Evaluate a model (e.g. roc, accuracy, confusion matrix, confidence intervals)
# model.evaluate(test_dataset)

# Generate predictions
ydf_prediction = model.predict(test_dataset)

# Analyse a model (e.g. partial dependence plot, variable importance)
# model.analyze(test_dataset)

# Benchmark the inference speed of a model
model.benchmark(test_dataset)

# Convert predictions to binary outcome
ydf_prediction = (ydf_prediction >= 0.5).astype(int)
# Add the predictions to the test dataframe
test_df['ydf_survived'] = ydf_prediction

Train model on 891 examples

max_vocab_count = -1 for column Survived, the dictionary will not be pruned by size.
"goss_alpha" set but "sampling_method" not equal to "GOSS".
"goss_beta" set but "sampling_method" not equal to "GOSS".
"selective_gradient_boosting_ratio" set but "sampling_method" not equal to "SELGB".
Data spec:
Number of records: 891
Number of columns: 6

Number of columns by type:
	NUMERICAL: 5 (83.3333%)
	CATEGORICAL: 1 (16.6667%)

Columns:

NUMERICAL: 5 (83.3333%)
	1: "Pclass" NUMERICAL mean:2.30864 min:1 max:3 sd:0.835602 dtype:DTYPE_INT64
	2: "Age" NUMERICAL mean:29.6991 min:0.42 max:80 sd:12.9947 dtype:DTYPE_FLOAT64
	3: "SibSp" NUMERICAL mean:0.523008 min:0 max:8 sd:1.10212 dtype:DTYPE_INT64
	4: "Parch" NUMERICAL mean:0.381594 min:0 max:6 sd:0.805605 dtype:DTYPE_INT64
	5: "Sex_encoded" NUMERICAL mean:0.647587 min:0 max:1 sd:0.477722 dtype:DTYPE_INT64

CATEGORICAL: 1 (16.6667%)
	0: "Survived" CATEGORICAL has-dict vocab-size:3 zero-ood-items most-frequent:"0" 549 (61.6162%) dtype:DTYPE_INT64

Terminology:
	nas: Number of non-available (i.e. missing) values.
	ood: Out of dictionary.
	manually-defined: Attribute whose type is manually defined by the user, i.e., the type was not automatically inferred.
	tokenized: The attribute value is obtained through tokenization.
	has-dict: The attribute is attached to a string dictionary e.g. a categorical attribute stored as a string.
	vocab-size: Number of unique values.

No input feature explicitly specified. Using all the available input features.
The label "Survived" was removed from the input feature set.
Default loss set to BINOMIAL_LOG_LIKELIHOOD
Training gradient boosted tree on 891 example(s) and 5 feature(s).
818 examples used for training and 73 examples used for validation
	num-trees:1 train-loss:1.241145 train-accuracy:0.612469 valid-loss:1.196174 valid-accuracy:0.657534
	num-trees:2 train-loss:1.165032 train-accuracy:0.745721 valid-loss:1.125815 valid-accuracy:0.739726

Model trained in 0:00:00.244178

Early stop of the training because the validation loss does not decrease anymore. Best valid-loss: 0.668338
Truncates the model to 50 tree(s) i.e. 50  iteration(s).
Final model num-trees:50 valid-loss:0.668338 valid-accuracy:0.876712
Engine "GradientBoostedTreesQuickScorerExtended" built

In [52]:
test_df[['PassengerId', 'ydf_survived']].to_csv('Binary Classification/Scikit-Learn/Titanic Survival/YDF_predictions.csv', index=False)

In [15]:
# Define the parameter grid for Decision Tree
param_grid = {
    'iterations': [100, 200, 300],
    'learning_rate': [0.01, 0.1, 0.2],
    'rsm' : [0.6, 0.8, 1.0],
    
}

# Initialize the Decision Tree classifier
cb_clf = CatBoostClassifier(random_seed=42, verbose=0)

# Initialize RandomizedSearchCV
random_search_cb = RandomizedSearchCV(estimator=cb_clf, param_distributions=param_grid, n_iter=50, scoring='accuracy', cv=3, verbose=1, random_state=42, n_jobs=-1)

# Fit RandomizedSearchCV
random_search_cb.fit(features_df, labels_df)

# Get the best estimator
best_cb_clf = random_search_cb.best_estimator_

# Make predictions on the test dataset
cb_predictions = best_cb_clf.predict(test_features_df)

# Add the predictions to the test dataframe
test_df['cb_survived'] = cb_predictions

# Display the first few rows of the test dataframe to verify the predictions
test_df.head()

Fitting 3 folds for each of 27 candidates, totalling 81 fits

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_encoded,Embarked_encoded,Cabin_encoded,dt_survived,cb_survived
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,0,Q,1,1,0,0,0
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,0,S,0,2,0,0,0
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,0,Q,1,1,0,0,0
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,0,S,1,2,0,0,0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,0,S,0,2,0,1,1

In [16]:
test_df[['PassengerId', 'cb_survived']].to_csv('Data-Science/Binary Classification/Scikit-Learn/Titanic Survival/CB_predictions.csv', index=False)

In [17]:
best_cb_clf.feature_importances_

array([24.09888171, 11.24888752,  5.4252049 ,  2.30161554, 56.92541033])